<p>
  <strong>Title: </strong>
  <%= @doc.title %>
</p>

<p>
  <strong>content: </strong>
  <%= @doc.content %>
</p>

<%= button_to "Show All", docs_path, :method => :get%>
<%= button_to "Delete" ,doc_path, :method => :delete, data: {confirm: "Are you sure ?"}%>
<%= button_to "Update" ,edit_doc_path(@doc), :method => :get%>
